input.form-control {
  border-left-width: 5px;
}

.control-box {
  margin-bottom: 5px;
}

.search-box {
  margin: 0;
  position: relative;
}

.nav-item.toolbaritem a {
  padding-top: 3px;
  padding-bottom: 3px;
  min-width: 100px;
  font-weight: bold;
}


.completed {
  text-decoration: line-through;
}

.form-check {
  margin: 0;
}


.inline-label {
  width: 100%;
  font-size: 1.2rem;
  min-height: 1.3rem;
  display: inline-block;
}

.cell-with-icon
{
  width: 50%;
  text-align: right;
  margin-right: 10px;
}

.inline-editor {
  font-size: 1rem;
  width: 100%;
}

.description-form-group {
  margin-bottom: 5px;
}

.hr-separator {
  margin: 10px 0;
}

.bonuses-table
{
  display: block;
}

.cards-list{
  display: none;
}

@media (max-width: 720px) {
  .mobile-user{
    display: flex;
    gap: 5px;
    .delete-user-icon{
      margin-left: auto;
    }
  }

  .bonuses-table
  {
    display: none;
  }

  .cards-list{
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  .row.control-box {
    position: sticky;
    top: 56px;
    z-index: 999;
    background-color: white;
    padding: 0.75rem;
    border-bottom: 1px solid #ddd;
  }

}
