<div>
  <div class="row">
    <label for="language" class="col-sm-3 col-form-label">{{'preferences.Language' | translate}} </label>
    <div class="col-sm-4">
      <ng-select id="language" [(ngModel)]="configurations.language" [searchable]="false" [clearable]="false" class="form-control">
        <ng-option [value]="'en'">
          {{'preferences.English' | translate}} <small class="text-muted"><i>({{'preferences.Default' | translate}})</i></small>
        </ng-option>
        <ng-option [value]="'ru'">{{'preferences.Russian' | translate}}</ng-option>
      </ng-select>
    </div>
    <div class="col-sm-5">
      <p class="form-control-plaintext text-muted small">{{'preferences.LanguageHint' | translate}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <hr class="hr-separator info-separator" />
    </div>
  </div>


  <div class="row">
    <label for="defaultTheme" class="col-sm-3 col-form-label">{{'preferences.Theme' | translate}} </label>
    <div class="col-sm-4">
      <ng-select id="defaultTheme" [(ngModel)]="configurations.themeId" [searchable]="false" [clearable]="false" class="form-control theme-picker">
        @for (theme of themeManager.themes; track theme) {
          <ng-option [value]="theme.id">
            <div class="theme-item" style="background-color: {{theme.background}}; color: {{theme.color}}">
              {{'preferences.' + theme.name + 'Theme' | translate}} <span class="small">{{theme.isDark ? '(Dark)' : ''}}</span>
            </div>
          </ng-option>
        }
      </ng-select>
    </div>
    <div class="col-sm-5">
      <p class="form-control-plaintext text-muted small">{{'preferences.ThemeHint' | translate}}</p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <hr class="hr-separator hr-last-separator" />
    </div>
  </div>
  <div class="row">
    <div class="offset-sm-3 col-sm-9">
      <div class="d-flex flex-row flex-wrap">
        <button type="button" (click)="reloadFromServer()" class="btn btn-success ms-auto ms-sm-0 me-2 mb-2">
          <i class='fa fa-circle-o-notch'></i> {{'preferences.ResetDefault' | translate}}
        </button>
        <button type="button" (click)="setAsDefault()" class="btn btn-primary mb-2">
          <i class='fa fa-hdd-o'></i> {{'preferences.SetDefault' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
